:root {
    --color-brand-primary:#1a285b;
    --color-brand-secondary:#f7f4f2;
    --color-brand-tertiary:#9b9b9b;
    --color-brand-quaternary:#C0A37C;

    --space-1x: 4px;
    --space-2x: 8px;
    --space-3x: 12px;
    --space-4x: 16px;
    --space-5x: 20px;
    --space-6x: 24px;
    --space-7x: 32px;
    --space-8x: 40px;
    --space-9x: 48px;
    --space-10x: 56px;
    --space-11x: 64px;
    --space-12x: 72px;
    --space-13x: 80px;
    --space-14x: 88px;
    --space-15x: 96px;

    --theme-font-primary: Lato,Arial,Helvetica,sans-serif;

    --layout-padding: 6rem;
    --layout-padding-negative: -6rem;
    --max-layout-width: 1220px;
}