@import '@/styles/breakpoints';

.enterPage {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  @media #{$BREAKPOINT-TABLET-LAND} {
    flex-direction: row;
  }
}

.categoryButton {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 144px;
  height: 144px;
  border: 0;
}

.categoryButton, .overlay {
  border-radius: 50%; 
  cursor: pointer;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(1.5px);
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.35);
}

.beachTennis {
  background-image: url('../assets/images/beachtennis.webp');
}

.footvolley {
  background-image: url('../assets/images/futevolei.webp');
}

.categoryText {
  color: #FFF;
  font-size: 2rem;
  font-weight: 900;
  z-index: 3;
  padding: 24px;
}

.cardButton {
  width: 100%;
  height: 100%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.cardButton:hover {
  background-color: var(--color-brand-tertiary);
}


.textContainer {
  text-align: center;
}