@import '@/styles/breakpoints';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
  min-height: 100vh;

  @media #{$BREAKPOINT-TABLET-LAND} {
    padding: 6rem var(--layout-padding) 0 var(--layout-padding);
  }
}

.selectCategoryContainer {
  width: 100vw;
  padding: 32px 16px;
  margin-bottom: 64px;
  background-color: var(--color-brand-quaternary);

  display: flex;
  justify-content: center;
  
  @media #{$BREAKPOINT-TABLET-LAND} {
    padding: 32px var(--layout-padding) 32px var(--layout-padding);
  }

  div {
    width: 100%;
    // label {
    //   color: #FFF;
    // }

    div {
      // svg {
      //   fill: #FFF;
      // }

      // fieldset {
      //   border-color: rgba(255, 255, 255, 0.23);
      // }
    }
  }
}

.footerContainer {
  position: relative;
  width: 100%;
  height: 320px;
}

.footerBlue, .footerWhite, .footerYellow {
  position: absolute;
  bottom: 0;
  left: -1rem;
  width: 100vw;
  
  @media #{$BREAKPOINT-TABLET-LAND} {
    left:  var(--layout-padding-negative);
  }

  img {
    width: 100%;
    object-fit: cover;
  }
}

.footerBlue { z-index: 3; bottom: 0;}
.footerWhite { z-index: 2; bottom: 15px;}
.footerYellow { z-index: 1; bottom: 60px;}

.copyrights {
  z-index: 4;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 32px;
  color: #FFF;
  background-color: var(--color-brand-primary);
  width: 100vw;
  left:  -1rem;
  text-decoration: none;
    
  @media #{$BREAKPOINT-TABLET-LAND} {
    left:  var(--layout-padding-negative);
  }
}

.firstFiveChampions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.userThumb {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.userCell {
  @media #{$BREAKPOINT-TABLET-LAND} {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px
  }
}

.table, .select {
  max-width: var(--max-layout-width);
}